<section class="container">
  <ul class="list">
    <slot />
  </ul>
</section>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .list {
    display: grid;
    gap: 2rem;
    justify-content: center;

    @include xl {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3.5rem;
    }
  }
</style>
