$black: hsl(270, 3%, 11%);
$white: hsl(0, 0%, 100%);
$peach: hsl(11, 73%, 66%);
$light-peach: hsl(11, 100%, 80%);
$card-peach: hsl(14, 76%, 97%);
$dark-gray: hsl(264, 5%, 20%);
$light-gray: hsl(210, 17%, 95%);
