@use "./variables" as *;
@use "./colors" as *;

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin circle-background($min-width: 200px) {
  background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  min-width: $min-width;
}
