---
export interface Props {
  href: string;
  theme: "light" | "peach";
}

const { href, theme } = Astro.props;
---

<a href={href} class={theme === "light" ? "light" : "peach"}>
  <slot />
</a>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .light {
    @include button;
  }

  .peach {
    @include button($peach, $white);
  }
</style>
