---
import ButtonLink from "@components/shared/ButtonLink.astro";

const locations = [
  {
    image: "/assets/shared/desktop/illustration-canada.svg",
    title: "Canada",
    href: "/locations",
  },
  {
    image: "/assets/shared/desktop/illustration-australia.svg",
    title: "Australia",
    href: "/locations",
  },
  {
    image: "/assets/shared/desktop/illustration-united-kingdom.svg",
    title: "United Kingdom",
    href: "/locations",
  },
];
---

<section class="container">
  {locations.map((location) => (
    <div class="location-card">
      <div class="location-card__image">
        <img src={location.image} alt={location.title} />
      </div>
      <h3>{location.title}</h3>
      <ButtonLink href={location.href} theme="peach">See Location</ButtonLink>
    </div>
  ))}
</section>

<style lang="scss">
  @use "@sass/abstracts" as *;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    @include lg {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .location-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__image {
      background-image: url("/assets/shared/desktop/bg-pattern-small-circle.svg");
    }
  }
</style>
