---
export interface Props {
  href: string;
  color?: "white" | "black";
  size?: "sm" | "md";
}

const { href, color = "white", size = "sm" } = Astro.props;
---

<a
  href={href}
  class={`${color === "white" ? "white" : "black"} ${
    size === "sm" ? "sm" : "md"
  }`}
>
  <slot />
</a>

<style lang="scss">
  @use "@sass/abstracts" as *;

  a {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
  }

  a.sm {
    font-size: 14px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -0.25rem;
      height: 3px;
      width: 100%;
      background-color: $peach;

      scale: 0 1;
      transition: scale 250ms;
    }

    &:hover::after {
      scale: 1 1;
    }
  }

  a.md {
    font-size: 24px;
  }

  a.white {
    color: $white;
  }

  a.black {
    color: $black;
  }
</style>
