@use "../abstracts/" as *;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.skip-to-main-link {
  position: fixed;
  top: 5px;
  left: 5px;
  opacity: 0;
  z-index: calc($header-z-index + 50);

  &:focus {
    opacity: 1;
    background-color: #fff;
    padding: 10px;
  }
}
