---
import LocationList from "@components/shared/LocationList.astro";
import ContactForm from "@components/ContactForm.astro";
import Layout from "src/Layout.astro";
---

<Layout title="Designo Agency | Contact">
  <section class="container-md">
    <div class="contact-banner">
      <div class="contact-text">
        <h1>Contact Us</h1>
        <p>
          Ready to take it to the next level? Let's talk about your project or
          idea and find out how we can help your business grow. If you are
          looking for unique digital experiences that's relatable to your users,
          drop us a line.
        </p>
      </div>
      <ContactForm />
    </div>
  </section>
  <LocationList />
</Layout>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .contact-banner {
    display: grid;
    gap: 4rem;
    padding-block: 4rem;
    padding-inline: 2rem;
    background-color: $peach;

    @include md {
      padding-inline: 4rem;
      border-radius: $border-radius;
    }

    @include lg {
      grid-template-columns: 1fr 1fr;
      padding-inline: 6rem;
      gap: 6rem;
    }
  }

  .contact-text {
    text-align: center;
    color: $white;

    h1 {
      margin-bottom: 2rem;
    }

    @include md {
      text-align: left;
    }

    @include lg {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
