---
import NavLink from "../shared/NavLink.astro";
---

<div class="mobile-menu-wrapper">
  <nav id="primary-navigation" class="primary-navigation">
    <button
      class="menu-btn"
      aria-controls="primary-navigation"
      aria-expanded="false"
      ><span class="sr-only">Toggle menu</span>
      <img src="/assets/shared/mobile/icon-hamburger.svg" alt="Menu" /></button
    >
    <ul class="nav-list">
      <li>
        <NavLink href="/about" size="md">Our Company</NavLink>
      </li>
      <li>
        <NavLink href="/locations" size="md">Locations</NavLink>
      </li>
      <li>
        <NavLink href="/contact" size="md">Contact</NavLink>
      </li>
    </ul>
  </nav>
  <div class="backdrop"></div>
</div>

<script>
  const primaryNav = document.querySelector("#primary-navigation");
  const menuBtn = document.querySelector(".menu-btn")!;
  const backdrop = document.querySelector(".backdrop")!;

  function clickOutside(e: any) {
    e.stopPropagation();

    if (!primaryNav?.contains(e.target) && !menuBtn?.contains(e.target)) {
      primaryNav?.classList.remove("active");
      menuBtn?.setAttribute("aria-expanded", "false");
      document.body.style.overflowY = "initial";
      document.body.removeEventListener("click", clickOutside);
    }
  }

  menuBtn?.addEventListener("click", () => {
    const expanded = menuBtn.getAttribute("aria-expanded") === "false";

    if (expanded) {
      document.body.style.overflowY = "hidden";
      document.body.addEventListener("click", clickOutside);
    } else {
      document.body.style.overflowY = "initial";
      document.body.removeEventListener("click", clickOutside);
    }

    primaryNav?.classList.toggle("active");
    menuBtn.setAttribute("aria-expanded", expanded ? "true" : "false");
  });
</script>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .mobile-menu-wrapper {
    z-index: 99;

    @include md {
      display: none;
    }
  }

  .backdrop {
    display: none;
    position: fixed;
    top: $header-height-mobile;
    left: 0;
    width: 100%;
    height: calc(100% - $header-height-mobile);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .primary-navigation {
    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $black;
      padding-inline: 24px;
      padding-block: 2.5rem;
      list-style: none;
      width: 100%;
      flex-direction: column;
      gap: 2rem;
    }

    &.active {
      ul {
        display: flex;
      }
      + .backdrop {
        display: block;
      }
    }
  }

  .nav-list {
    &.active {
    }
  }

  .menu-btn {
    background-color: transparent;
    border: 0;
    padding: 0.25rem;
    cursor: pointer;
  }
</style>
