---
const socialLinks = [
  {
    name: "facebook",
    icon: "/assets/shared/desktop/icon-facebook.svg",
    href: "#",
  },
  {
    name: "youtube",
    icon: "/assets/shared/desktop/icon-youtube.svg",
    href: "#",
  },
  {
    name: "twitter",
    icon: "/assets/shared/desktop/icon-twitter.svg",
    href: "#",
  },
  {
    name: "pinterest",
    icon: "/assets/shared/desktop/icon-pinterest.svg",
    href: "#",
  },
  {
    name: "instagram",
    icon: "/assets/shared/desktop/icon-instagram.svg",
    href: "#",
  },
];
---

<div class="footer-info">
  <div>
    <b>Designo Central Office</b>
    <p>3886 Wellington Street</p>
    <p>Toronto, Ontario M9C 3J5</p>
  </div>
  <div>
    <b>Contact Us (Central Office)</b>
    <p>P : +1 253-863-8967</p>
    <p>M : contact@designo.co</p>
  </div>

  <ul class="social-links">
    {
      socialLinks.map((link) => (
        <li>
          <a href={link.href}>
            <img src={link.icon} alt={link.name} />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .footer-info {
    color: #8e8e8f;
    font-weight: 500;
    padding-block: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    @include md {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }

  .social-links {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
</style>
