---
import Link from "@components/shared/Link.astro";
---

<div class="card">
  <div>
    <h2>Let's talk about your project</h2>
    <p>
      Ready to take it to the next level? Contact us today and find out how our
      expertise can help your business grow.
    </p>
  </div>
  <Link href="/contact" variant="white">Get in touch</Link>
</div>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .card {
    z-index: 10;
    position: relative;
    width: 100%;
    height: $talk-banner-height;
    border-radius: $border-radius;
    background-color: $peach;
    padding-inline: 1rem;
    background-image: url("/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include md {
      height: 350px;
      background-image: url("/assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg");
    }

    @include lg {
      height: 292px;
      flex-direction: row;
      justify-content: space-between;
      padding-inline: 4rem;
    }

    & > div {
      color: $white;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      @include lg {
        align-items: start;
        text-align: left;
      }
    }

    h2 {
      max-width: 335px;
      margin-bottom: 1.5rem;
    }

    p {
      @include md {
        max-width: 459px;
      }
    }
  }
</style>
