<section class="container-md">
  <div class="design-banner">
    <div class="banner-content">
      <h1>App Design</h1>
      <p>
        Our mobile designs bring intuitive digital solutions to your customers
        right at their fingertips.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .design-banner {
    background-image: url("/assets/app-design/desktop/bg-pattern-intro-app.svg");
  }
</style>
