<section class="container-md">
  <div class="design-page-hero-banner">
    <div class="banner-content">
      <h1>Graphic Design</h1>
      <p>
        We deliver eye-catching branding materials that are tailored to meet
        your business objectives.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .design-page-hero-banner {
    background-image: url("/assets/graphic-design/desktop/bg-pattern-intro-graphic.svg");
  }
</style>
