<section class="container-md">
  <div class="banner">
    <div class="banner-content">
      <h1>Web Design</h1>
      <p>
        We build websites that serve as powerful marketing tools and bring
        memorable brand experiences.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  @use "@sass/abstracts" as *;

  .banner {
    @include design-banner();

    background-image: url("/assets/web-design/desktop/bg-pattern-intro-web.svg");
  }
</style>
